

.containerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.navbar-brand strong{
  color: white;
}

#centerSesion{
  background-color: rgb(241, 241, 241);
  border-style: solid;
  border-width: medium;
  border-color: #daa520;
  border-radius: 6px;
}

.thumbComic{
  align-items: flex-end;
  display: flex;
}

.titleAndDescripiton{
  margin-left: 100px;
}

.containerMap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

agm-map {
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
}
