<div>
  <nav class="navbar navbar-light bg-dark">
    <div class="navbar-brand" >
      <img src="assets/images/marvel m.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong>  Marvel Comic List </strong>
    </div>
  </nav>
</div>


<div class="containerMain" *ngFor="let comic of comicResult">
  <div id="centerSesion" class="container">
    <div class="row aling-itens-center">
      <div class="ttitleAndDescripiton col">
        <h1 class="text-uppercase">{{comic.title}}</h1>
        <p>{{comic.description}}</p>
      </div>
      <div class="col">
        <img class="img-thumbnail thumbComic" src={{comic.images[0].path}}.{{comic.images[0].extension}}>
      </div>
    </div>
    <div id="map"></div>
    <div>
      <button type="button" class="btn btn-success ml-5 mb-5">Select Send</button>
    </div>
  </div>
</div>
