

.containerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#containerCard {

  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

}

.navbar-brand strong{
  color: rgb(241, 241, 241);
}


.cardStyle{
  color: black;
  border-style: solid;
  border-width: medium;
  border-color: #daa520;
  border-radius: 6px;
}

.containerModal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#carouselContainer{
  max-height: 600px;
}
