

.containerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#containerCard {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

}

.navbar-brand strong{
  color: rgb(241, 241, 241);
}


.cardStyle{
  color: black;
  border-style: solid;
  border-width: medium;
  border-color: #daa520;
  border-radius: 6px;
}

.containerModal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#carouselContainer{
  max-height: 600px;
}

#cardZoom{
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cardZoom:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}



.text-item {
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
